/app/node_modules
/app/public/hot
/app/public/storage
/app/storage/*.key
/app/app/vendor
/app/db
/.env
/.env.backup
.idea
.env
/.phpunit.result.cache
/Homestead.json
/Homestead.yaml
/npm-debug.log
/yarn-error.log
/storage/debugbar/.gitignore
/.phpstorm.meta.php
/_ide_helper.php
/_ide_helper_models.php
/.db/
/app/_ide_helper.php
/app/_ide_helper_models.php
/app/config/ide-helper.php
